@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-background: #FFFFFF;
  --color-light-background: #fdd372;
  --color-primary: #f7c9b6;
  --color-secondary: #dbc39a;
  --color-tertiary: #dae7dd;
  --davys-gray: #5B5B5Bff;
  --saffron: #FDC74Dff;
  --light-saffron: #fdd372;
  --bittersweet: #F45C50ff;
  --raspberry: #DB2556ff;
  --light-sea-green: #01B1B0ff;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-110%); }
}

.marquee-content {
  /* default: not animating */
}

.marquee-container:hover .marquee-content {
  animation: none; /* reset first */
  animation: marquee 10s linear infinite; /* then apply again */
}

