@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-background: #dacac4;
  --color-primary: #f7c9b6;
  --color-secondary: #dbc39a;
  --color-tertiary: #dae7dd;
}